* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.logo h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.banner {
    background: url('banner-pet.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner-text h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.banner-text .btn {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.services, .products, .testimonials, .about-us, .contact {
    padding: 40px 20px;
    text-align: center;
}

.services .service-item, .products .product-item {
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: auto;
    max-height: auto;
    object-fit: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background-color: #8e47c9;
    color: #ffffff;
    border: #45166b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots {
    text-align: center;
    padding: 10px;
    background-color: #8e47c9;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #c57eff;
    border-radius: 50%;
    display: inline-block;
}

.active {
    background-color: #45166b;
}